body {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  background-color: #1A1A1D;
}

#logo {
    width: 400px;
    height: 150px;
  }

  .lucky-button {
    border: none;
    background: #950740;
    width: 100px;
    height: 100px;
  }
  .lucky-button:hover{
    background: #C3073F;
  }
  .lucky-button:focus{
    outline: none;
  }
  .footer {
    background-color: black;
    width: 100%;
    color: white;
  }
  .title {
    text-align: center;
  }
  .genre {
    text-align: center;
  }
  .movie-title-box {
    padding: 25px;
    color: white;
  }
  .r3-box {
    color: white;
  }
  .synopsis {
    padding-left: 2px;
    height: 10%;
    /* text-align: center; */
    color: white;
  }
  .cast-directors-box {
    color: white;
  }
  .trailer-heading {
    align-items: center;
    color: white;
  }
  .review-heading {
    justify-content: center;
    color: white;
  }
  .lucky-button {
    color: white;
    height: 45px;
    width: 200px;
  }
  .movie-poster {
  }
  .searchButton {
    color: white;
    background: #950740;
  }
  .searchButton:hover{
    background: #C3073F;
  }
 .footer {
   width:100%;
   left:0px;
   right:0px;
   position:fixed;
   bottom: 0px;
 }
 .movieCat{
   width:150px;
   height:100px;
   margin: 0px 5px 20px 5px;
   padding:0px;
 }
 .movieGenres{
   padding:20px;
   margin: 0px auto;
   align-content:center;
   width: 80%;
   padding-bottom: 80px;
   
 }

 .feeling_lucky{
  align-content: center;
 }
 .image{
   height:100px;
   width: 180px;
   left:0px;
   right: 0px;
   top:0px;
   bottom: 0px;

 }
 .movieList{
   color: #4E4E50;
   font-size: 35px;
   font-weight: bold;

 }

 p.rating, p.runtime, p.releaseDate, p.synopsis, p.cast, p.directors{
   margin: 10px;
 }